body {
    font-family: 'Open Sans', sans-serif;
}

.suricata-logo {
    width: 7rem;
}

.contenedor-pink {
    background-color: #e83e8c !important;
}

.productos-title {
    color: #919191;
    padding-top: 5rem;
}

.logo-footer {
    width: 4rem;
    margin: 2rem;
}

.contenedor-cian {
    background-color: #17a2b8;
    vertical-align: middle;
    margin-top: 4rem;
}

.footer-suricata-top {
    display: flex;
    justify-content: center;
    text-align: center;
}

h3 {
    margin: auto 4rem;
}

i {
    padding: 3.8rem 1rem;
}

@media (max-width:767px) {
    #hideonmobile {display:none;}
}
